<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Boleto</title>
  </head>
  <body>
    <form action="" method="post" accept-charset="utf-8">
      <p><button class="pay"    name="action" value="Pagar">Pagar</button></p>
      <p><button class="cancel" name="action" value="Cancelar">Cancelar</button></p>
    </form>
  </body>
</html>