<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Boleto / TEF</title>
  </head>
  <body>
    <form action="?order_id=<%= params[:Id_Transacao]%>" method="post" accept-charset="utf-8">
      <p><button class="pay"    name="action" value="pay">Pagar</button></p>
      <p><button class="cancel" name="action" value="cancel">Cancelar</button></p>
    </form>
  </body>
</html>