<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Retorno</title>
  </head>
  <body>
    <form action="<%= Settings.callback %>" method="post" accept-charset="utf-8">
      <input type="text" name="crypt" value="<%= crypt_value %>" class="crypt">
      <input type="submit" name="submit" value="Enviar para Loja" />
    </form>
  </body>
</html>